# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.pnpm-debug.log*

# Logs
logs/
*.log
logs/*.log

# Environment variables
.env
.env.local
.env.*.local

# Build output
dist/
build/
.out/
.next/

# Dependency directories
jspm_packages/

# IDE files
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db